body{
    color: white;
    background-color: darkgray;
    display: 
}

.playername{
    text-align: center;
    font-size: 200%;
    padding: 20%;
}


a{
    padding-right: 30%;
}
.Scoreboard{
    padding-right: 0;
    margin-right: 0;
    width: 34%;
    font-size: 200%;
}

